a {
  color: #fff;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: #fff;
  background-color: #f59000;
}

/*reset css*/

.Home {
  font-family: DungGeunMo;
  width: 800px;
  height: 350px;
  margin: 0 auto;
  text-align: center;
}

.Home-Title {
  color: white;
  font-size: 150px;
}

.Home-Menu {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 50px;
}

.Home-Card:hover {
  font-size: 60px;
  color: yellow;
}

.Home-Snake {
  margin: 30px 0 0;
}

.Home-Snake:hover {
  font-size: 60px;
  color: yellow;
}
