.Card {
  font-family: DungGeunMo;
}

.Card-board {
  width: 650px;
  height: 650px;
  margin: 60px auto;
}

.Card-back {
  color: black;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  font-size: 80px;
  vertical-align: text-bottom;
  display: inline-block;
  width: 100px;
  height: 140px;
  margin: 9.5px 13.5px;
  padding: 30px 0;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.Card-back:hover {
  cursor: pointer;
}

.Card-back.front {
  display: inline-block;
  width: 100px;
  height: 140px;
  /* margin: 10px 13px; */
  transform: rotateY(360deg);
}

.Card-back.front:hover {
  color: blue;
}

.Card-button {
  color: white;
  font-size: 50px;
  font-family: DungGeunMo;
  border-style: none;
  position: fixed;
  top: 70px;
  left: 200px;
  width: 200px;
  height: 100px;
  border-radius: 5px;
  background-color: transparent;
}

.Card-button:hover {
  cursor: pointer;
  font-size: 60px;
}

.Card-score {
  text-align: center;
  position: fixed;
  top: 70px;
  right: 300px;
  font-size: 50px;
}

.Card-popup {
  visibility: visible;
  position: fixed; /*팝업 전체를 콘텐츠보다 위로 띄움*/
  /*dimmed 영역이 콘텐츠가 길어질때 같이 길어지게 하기 위해 relative대신 fixed 사용. fixed는 뷰포트, 즉 현재 보이는 브라우저 화면 사이즈를 기준으로 하기 때문에 스크롤을 내려도 딤드 레이어가 노출됨*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Card-popup_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 300px;
  padding-bottom: 100px;
  margin: 150px auto;
  z-index: 10;
}

.Card-text_area {
  text-align: center;
  font-size: 100px;
}
.Card-popup-score {
  font-size: 80px;
  margin: 20px 0;
}

.Card-btn_area {
  line-height: normal;
  text-align: center;
  font-size: 80px;
  font-family: DungGeunMo;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; /*float 해제*/
  height: 80px;
}

.Card-restart {
  float: left;
  width: 50%;
  font-weight: bold;
  /*button태그의 기본 속성 : box-sizing:border-box;
    따라서 기본적으로 width값 안에 border영역까지 포함됨*/
}

.Card-restart:hover {
  font-size: 85px;
  color: yellow;
  cursor: pointer;
}

.Card-exit {
  float: left;
  width: 50%;
  height: 100%;
  font-weight: bold;
}

.Card-exit:hover {
  font-size: 85px;
  color: yellow;
}

.Card-popup_dimmed {
  position: absolute; /*띄워줌*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
}

.hidden {
  visibility: hidden;
}
