.Card {
  font-family: DungGeunMo;
}

.Card-board {
  width: 650px;
  height: 650px;
  margin: 60px auto;
}

.Card-back {
  box-sizing: border-box;
  text-align: center;
  font-size: 50px;
  vertical-align: text-bottom;
  display: inline-block;
  width: 100px;
  height: 140px;
  margin: 9.5px 13.5px;
  padding: 30px 0;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Card-back:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Card-back.front {
  display: inline-block;
  width: 100px;
  height: 140px;
  /* margin: 10px 13px; */
  transform: rotateY(360deg);
}

.Card-button {
  font-size: 30px;
  font-family: DungGeunMo;
  border-style: none;
  position: fixed;
  top: 70px;
  left: 250px;
  width: 200px;
  height: 100px;
  border-radius: 5px;
  background-color: transparent;
}

.Card-button:hover {
  cursor: pointer;
}

.Card-score {
  text-align: center;
  position: fixed;
  top: 70px;
  right: 300px;
  font-size: 50px;
}

.Card-popup {
  visibility: visible;
  position: fixed; /*팝업 전체를 콘텐츠보다 위로 띄움*/
  /*dimmed 영역이 콘텐츠가 길어질때 같이 길어지게 하기 위해 relative대신 fixed 사용. fixed는 뷰포트, 즉 현재 보이는 브라우저 화면 사이즈를 기준으로 하기 때문에 스크롤을 내려도 딤드 레이어가 노출됨*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Card-popup_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 150px;
  padding-bottom: 50px;
  margin: auto;
  background: #fff;
  z-index: 10;
}

.text_area {
  padding: 30px 30px;
  text-align: center;
  font-size: 40px;
}

.btn_area {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  overflow: hidden; /*float 해제*/
}

.Card-restart {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 15px;
  font-weight: bold;
  border: 0;
  background: rgb(196, 196, 196);
  /*button태그의 기본 속성 : box-sizing:border-box;
    따라서 기본적으로 width값 안에 border영역까지 포함됨*/
}

.Card-exit {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 15px;
  font-weight: bold;
  border: 0;
  background: rgb(128, 128, 128);
}

.popup_dimmed {
  position: absolute; /*띄워줌*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
}

.hidden {
  visibility: hidden;
}
